/* SasPlay.module.css */
.container {
    text-align: center;
    background: url(./bg4.png) no-repeat center center;
    background-size: cover;
    color: white;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly


  }
  
  .title {
    font-size: 2.8em;
    margin-bottom: 20px;
  }
  
  .highlight {
    color: #8a4af3;
  }
  
  .cards {
    margin: 50px;
    display: flex;
    justify-content: center;
    gap: 40px;
  }
  
  .card {
    border-radius: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .iconWrapper {
    margin-bottom: 10px;
  }
  
  .icon {
    width:  150px;
    height: 150px;
  }
  
  .textWrapper {
    text-align: center;
  }
  
  .description {
    font-size: 1.5em;
    color: #e0e0e0;
  }
  



@media (max-width: 1024px) {
  .title {
    font-size: 3em;
  }

  .subtitle {
    font-size: 1.8em;
    margin-bottom: 80px;
  }

  .cards {
    gap: 50px;
  }

  .card {
    width: 180px;
  }

  .cardContent {
    height: 220px;
  }

  .icon {
    width: 130px;
    height: 130px;
  }

  .description {
    font-size: 1em;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 2em;
  }

  .subtitle {
    font-size: 1.5em;
    margin-bottom: 60px;
  }

  .cards {
    gap: 30px;
  }

  .card {
    width: 160px;
  }

  .cardContent {
    height: 200px;
  }

  .icon {
    width: 110px;
    height: 110px;
  }

  .description {
    font-size: 0.9em;
  }
}

@media (max-width: 500px) {
  .container {
    height: auto;
    padding: 20px;
  }

  .title {
    font-size: 2em;
  }



  .text {
    padding: 1rem;
  }

  .cards {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .card {
    width: 100%;
    max-width: 300px;
  }

  .cardContent {
    height: 180px;
    padding: 15px;
  }

  .icon {
    width: 90px;
    height: 90px;
  }

  .description {
    font-size: 1.5em;
  }
}